/aula_FlexBox
/aula_Formularios
/aula_moduloJS_udemy
/aula_responsividade
/brincaMuito.html
/capacita_aulasJS
/capacita_NodeJS_aula01
/css
/img
/index.html
/moduloJScapacita
/otakutrack
/ProjetoFormulario
/projetos_moduloHTML
/Projeto_HDC_HOST
/Projeto_Home_Instagram
/react-cadastro-usuarios
/telabranca.html
/testeSiteOT
/treinamento inicial